html {
    height: 428px;
    width: 700px;
}

#card {
    width: 700px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 auto;
}

#card-header {
    display: flex;
    justify-content: flex-start;
}

#branding {
    width: 300px;
    height: 400px;
}

#skp {
    margin-left: 55px;
    font-family: 'Courgette', cursive;
    font-size: 24px;
}

#logo {
    /* font-size: xxx-large; */
    font-size: 64px;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 170px;
}

#details {
    width: 400px;
    height: 400px;
    /* margin-left: 250px; */
}

#grouping {
    border-left: 2px solid gray;
    margin-top: 150px;
    height: 125px;
}

.pl {
    margin-left: 20px;
}

#name {
    padding-top: 10px;
}

i {
    margin-right: 5px;
}

#color-bar {
    width: 700px;
    height: 10px;
    background-color: #FF971D;
}

address {
    padding-left: 20px;
    padding-right: 10px;
}

/* 
    MISC
*/
.font-sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}

.color-orange {
    color: #FF971D;
}
